 !DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" <title>Document</title>
    <style>
        * {
            margin: 0px auto;
            padding: 0px;
        }
        
        .wrapper {
            height: 800px;
            width: 1089px;
            background-color: aliceblue;
            border: 1px solid brown;
        }
        
        .top menu {
            height: 50px;
            width: 1089px;
            background-color: rgb(138, 187, 230);
            border: 1px solid rgb(160, 43, 43);
        }
        
        header {
            height: 150px;
            width: 1089px;
            background-color: rgb(230, 175, 202);
            border: 1px solid brown;
        }
        
        .content {
            height: 500px;
            width: 1089px;
            background-color: rgb(181, 218, 233);
            border: 1px solid brown;
        }
        
        footer {
            height: 150px;
            width: 1089px;
            background-color: rgb(230, 175, 202);
            border: 1px solid brown;
        }
        
        .menu-left {
            height: 500px;
            width: 20%;
            background-color: rgb(94, 226, 112);
            border: 1px solid brown;
            float: left;
        }
        
        .content-l {
            height: 500px;
            width: 40%;
            background-color: rgb(115, 106, 165);
            border: 1px solid brown;
            float: left;
        }
        
        .content-r {
            height: 500px;
            width: 39%;
            background-color: rgb(94, 226, 112);
            border: 1px solid brown;
            float: left;
        }
        
        <body><div class="wrapper"><nav class="top-menu">top-menu</nav><header>Dau trang</header><div class="content"><div class="menu-left"></div><div class="menu-l"></div><div class="menu-r"></div></div><footer></footer></div></body></html>